<section class="static about-sec">
    <div class="container">
        <h1><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Thông báo</font></font></h1>
        <h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">@Model</font></font></h3>
        <p>
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Không tìm thấy dữ liệu hoặc do lỗi trong quá trình xử lý dữ liệu</font>
            </font>
        </p>
    </div>
</section>
