
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">@ViewBag.SiteName</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div id="dataTable" class="dataTables_wrapper dt-bootstrap4">
                @Html.Partial("_ImageListPartial")
            </div>
        </div>
    </div>
</div>