@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    140 Lê Trọng Tấn<br />
    Tây Thạnh, Tân Phú, Hồ Chí Minh<br />
    <abbr title="Phone">P:</abbr>
    00.000.0000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:phanxuanchanh77@gmail.com">phanxuanchanh77@gmail.com</a><br />
</address>