@{
    ViewBag.Title = "Xác nhận địa chỉ Email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Cảm ơn bạn đã xác nhận địa chỉ email. Vui lòng @Html.ActionLink("nhấn vào đây để đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
